span.spoticon {background-image:url(../images/iconsprite.png); background-repeat: no-repeat; float:left; display:block; width:16px; height:16px; margin:2px 5px 0 5px;}

.spoticon-application {background-position: 0 0;}
.spoticon-bluray {background-position: 0 -16px;}
.spoticon-book {background-position: 0 -32px;}
.spoticon-controller {background-position: 0 -48px;}
.spoticon-custom {background-position: 0 -64px;}
.spoticon-divx {background-position: 0 -80px;}
.spoticon-download {background-position: 0 -96px;}
.spoticon-dvd {background-position: 0 -112px;}
.spoticon-eye {background-position: 0 -128px;}
.spoticon-fav {background-position: 0 -144px;}
.spoticon-female {background-position: 0 -160px;}
.spoticon-film {background-position: 0 -176px;}
.spoticon-hd {background-position: 0 -192px;}
.spoticon-help {background-position: 0 -208px;}
.spoticon-home {background-position: 0 -224px;}
.spoticon-ipod {background-position: 0 -240px;}
.spoticon-linux {background-position: 0 -256px;}
.spoticon-mac {background-position: 0 -272px;}
.spoticon-mpg {background-position: 0 -288px;}
.spoticon-music {background-position: 0 -304px;}
.spoticon-nintendo_ds {background-position: 0 -320px;}
.spoticon-nintendo_wii {background-position: 0 -336px;}
.spoticon-pda {background-position: 0 -352px;}
.spoticon-phone {background-position: 0 -368px;}
.spoticon-picture {background-position: 0 -384px;}
.spoticon-playstation {background-position: 0 -400px;}
.spoticon-refresh {background-position: 0 -416px;}
.spoticon-tag {background-position: 0 -432px;}
.spoticon-today {background-position: 0 -448px;}
.spoticon-tv {background-position: 0 -464px;}
.spoticon-vista {background-position: 0 -480px;}
.spoticon-windows {background-position: 0 -496px;}
.spoticon-wmv {background-position: 0 -512px;}
.spoticon-xbox {background-position: 0 -528px;}