/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
	(hacked to make it worse)
	
*/

/* general styles */
table.spots {
	border-collapse:collapse;
	margin:1em 0;
}

table.spots th, 
table.spots td {
	text-align:left;
	padding:.5em;
	border:1px solid white;
}

table.spots th {
	background:#328aa4 url(tr_back.gif) repeat-x;
	color: white;
}
table.spots td {
	background:#e5f1f4;
}

/* tablecloth styles */

table.spots tr.even td { 
	background:#e5f1f4;
}
table.spots tr.odd td {
	background:#f8fbfc;
}

table.spots tr.even  { 
	background:#4a98af;
}
table.spots tr.odd  {
	background:#bce774;
}
