/* GENERAL */
html {overflow:auto; height:100%;}
body {margin:0;}
body.fixed {padding:25px 0 0 0;}

div.container {position:relative; font:11px Arial, Helvetica, sans-serif;}
div.container.hidden {position:absolute; top:0; bottom:0; left:0; right:0; overflow:hidden;}

.smallGreyButton, .greyButton {font:11px Arial, Helvetica, sans-serif; display:block; background:url(../img/sprite_button.png) no-repeat 0 0; width:210px !important; margin:0 10px 5px 10px; line-height:20px; height:20px; color:#fff !important; font-weight:bold; text-align:center; cursor:pointer; border:0;}
.smallGreyButton:focus, .greyButton:focus,
.smallGreyButton:hover, .greyButton:hover {background-position:0 -20px;}
.smallGreyButton { background:url(../img/sprite_button_small.png) no-repeat 0 0; width: 84px !important;}

input {outline:none;}
div.clear {clear:both;}

/* TOOLBAR */
div#toolbar {background:url(../img/sprite_x.png) repeat-x 0 -80px; height:25px;}
body.fixed div#toolbar {top:0; left:0; right:0; position:fixed; z-index:3;}

div#toolbar span.scroll {position:absolute; overflow:hidden; top:2px; left:2px; height:18px;background:url(../img/sprite_x.png) repeat-x 0 -105px; border:1px solid #b5b5b5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px}
span.scroll:not(.foo) input#filterscroll {opacity:0; position:absolute; left:0; margin:0; width:19px; height:15px; float:left; cursor:pointer;}
span.scroll:not(.foo) input#filterscroll+label {background:url(../img/sprite.png) no-repeat -40px -96px; width:19px; height:15px; display:block;margin-top:2px;}
span.scroll:not(.foo) input#filterscroll:checked + label {background:url(../img/sprite.png) no-repeat -59px -96px;}

form#filterform {margin:0 0 0 30px; padding:2px 0; width:205px;}
form#filterform div.search {background:url(../img/sprite_x.png) repeat-x 0 -105px; border:1px solid #b5b5b5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; width:203px; float:left;}
form#filterform div.search input.searchbox {font:11px Arial, Helvetica, sans-serif; background:none; border:0; color:#fff; padding:2px 0 2px 4px; width:150px; height:14px; text-shadow:1px 1px #000;}
form#filterform div.search input.filtersubmit {font:11px Arial, Helvetica, sans-serif; background:none; border:0; color:#fff; font-weight:bold; padding:0 3px 0 0; margin:0; cursor:pointer; float:right; min-width:20px; height:18px; display:block;}

div.sidebarPanel {display:none; position:absolute; left:0; top:25px; bottom:0; width:235px; background:#fff; z-index:1;}
body.fixed div.sidebarPanel {position:fixed;}
div.sidebarPanel h4:first-child {-moz-border-radius:0; -webkit-border-radius:0; border-radius:0; margin-top:0;}
div.sidebarPanel h4 a,
div.sidebarPanel h4 {background:url(../img/sprite_x.png) repeat-x 0 -40px; color:#fff; font-size:11px; line-height:20px; text-align:center; margin:5px 0 0 0; text-shadow:1px 1px #000; -moz-border-radius:0 4px 0 0; -webkit-border-radius:0 4px 0 0; border-radius:0 4px 0 0; position:relative; text-decoration: none;}
div.sidebarPanel h4.dropdown {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}
div.sidebarPanel h4.dropdown a {cursor:pointer;}
div.sidebarPanel h4 a.toggle {float:left; font-weight:bold; line-height:18px; padding:0 0 0 3px; cursor:pointer; margin:0;}

form#filterform ul.search {margin:0; padding:0; clear:both; overflow:hidden;}
form#filterform ul.search li {float:left; list-style:none; overflow:hidden; position:relative;}
form#filterform ul.search li:last-child input+label {-moz-border-radius:0 0 4px 0; -webkit-border-radius:0 0 4px 0; border-radius:0 0 4px 0;}
form#filterform ul.search li input {opacity:0; position:absolute; width:100%; height:20px; float:left; cursor:pointer;}
form#filterform ul.search li input+label {background:url(../img/sprite_x.png) repeat-x 0 0; width:100%; color:#000; line-height:20px; display:block; text-align:center;}
form#filterform ul.search li input:checked +label {background:url(../img/sprite_x.png) repeat-x 0 -20px; color:#fff;}
form#filterform ul.search select {background:url(../img/sprite_x.png) repeat-x 0 0; color:#000; border:none; -moz-border-radius:0 0 4px 0; -webkit-border-radius:0 0 4px 0; border-radius:0 0 4px 0; width:100%; height:20px; font:11px Arial, Helvetica, sans-serif; padding:2px 2px 2px 4px; outline:none;}
form#filterform ul.search select option {background-color:#ddd; border-top:1px solid #bbb;}
form#filterform ul.search select option:checked {background:url(../img/sprite_x.png) repeat-x 0 -20px;}

form#filterform ul.search.onecol li {width:100%;}
form#filterform ul.search.threecol li {width:33.33%;}
form#filterform ul.search.threecol li:nth-child(n+4) input+label {background-image:none; background-color:#ddd; border-top:1px solid #bbb;}
form#filterform ul.search.threecol li:nth-child(n+4) input:checked +label {background:url(../img/sprite_x.png) repeat-x 0 -20px;}
form#filterform ul.search.fourcol li {width:25%;}

form#filterform table.search { border-collapse: collapse; clear:both; width:100%; height:20px; font:11px Arial, Helvetica, sans-serif; padding:2px 2px 2px 4px; outline:none; overflow: hidden; }
form#filterform table.search tr {background-color:#ddd; color:#000; border-top:1px solid #bbb;}
form#filterform table.search tr:last-child  {-moz-border-radius:0 0 4px 0; -webkit-border-radius:0 0 4px 0; border-radius:0 0 4px 0;}
form#filterform table.search th {font-weight:bold; text-align:left; padding-left:4px;}
form#filterform table.search td {text-align:left;}
form#filterform table.search td a {color: #bbb;}

form#filterform div#human-filesize,
form#filterform div#human-reportcount {margin:3px 5px 2px 5px; text-align:center;}
form#filterform div#slider-filesize,
form#filterform div#slider-reportcount {margin:0 10px 10px 10px;}
form#filterform a.greyButton.addFilter {margin:10px auto 0 auto;}

ul.dynatree-container {clear:both; min-height:72px; border:0; margin:0; padding:3px; background-color:#ececec; border:1px solid #d4d4d4; border-left:none; border-top:none; }
/* IE9 scrolls, see issue #1047 */
ul.dynatree-container {margin-top: auto; }
ul.dynatree-container a {display:inline-block; font:11px Arial, Helvetica, sans-serif normal; background:none; line-height:16px; width:auto; border:0;}

div.toolbarButton {float:right;}
div.toolbarButton p {margin:2px 2px 0 0; line-height:18px; color:#fff; padding:0 5px 0 3px; background:url(../img/sprite_x.png) repeat-x 0 -105px; border:1px solid #b5b5b5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
/* div.toolbarButton p {margin:2px 2px 0 0; line-height:18px; color:#fff; padding:0 5px 0 3px; background:url(../img/sprite_x.png) repeat-x 0 -105px; border:1px solid #b5b5b5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; float:right; position:relative;} */
div.toolbarButton p a {padding:0 0 0 18px; cursor:pointer; display:block; height:16px; line-height:15px; margin:2px 0 0 0;}

div.toolbarButton.config p a {background:url(../img/iconsprite.png) no-repeat 0 -560px;}
div.toolbarButton.addspot p a {background:url(../img/sprite.png) no-repeat -88px -146px;}
div.toolbarButton.logininfo p a {background:url(../img/sprite.png) no-repeat -88px -112px;}

div.toolbarButton.dropdown ul {padding:0; margin:0; position:relative;}
div.toolbarButton.dropdown li {list-style:none; padding:0 0 2px 0;}
div.toolbarButton.dropdown ul ul {display:none; position:absolute; z-index:2; top:22px; background-color:#888888; border-left:1px solid #a6a6a6; border-right:1px solid #a6a6a6; border-bottom:1px solid #a6a6a6; padding:1px 2px 2px 2px;}
div.toolbarButton.dropdown.left ul ul {left:-2px;}
div.toolbarButton.dropdown.right ul ul {right:0;}
div.toolbarButton.dropdown li:hover ul {display:block;}
div.toolbarButton.dropdown li li {border-bottom:1px solid #555555; line-height:20px; padding:0 5px; margin:0 0 2px 0; white-space:nowrap;}
div.toolbarButton.dropdown li li:last-child {margin:0;}
div.toolbarButton.dropdown li li:hover {background-color:#747474;}
div.toolbarButton.dropdown li li a {color:#fff; text-decoration:none; display:block;}

/* PREFERENCES / SETTINGS / USER & GROUP MANAGEMENT */
div.closeeditsettings,
div.closeusermanagement,
div.closeuserpreferences { float: left; }
div.closeeditsettings p,
div.closeusermanagement p,
div.closeuserpreferences p {margin:2px 2px 0 5px; line-height:18px; color:#fff; padding:0 5px 0 3px; background:url(../img/sprite_x.png) repeat-x 0 -105px; border:1px solid #b5b5b5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.closeeditsettings p a,
div.closeusermanagement p a,
div.closeuserpreferences p a {background:url(../img/sprite.png) no-repeat -88px -164px; font:11px Arial, Helvetica, sans-serif normal; color:white; padding:0 0 0 18px; cursor:pointer; display:block; height:16px; line-height:15px; margin:2px 0 0 0; text-decoration: none;}
div#usermanagementtabs {margin:5px;}
div#usermanagementtabs th {text-align:left; line-height:17px; padding:1px 5px; font-weight:bold;}
div#usermanagementtabs td {padding:1px 5px;}
div.ui-dialog-content form,
form.editsettingsform,
form.edituserprefsform {padding:5px;}
div.ui-dialog-content fieldset,
form.editsettingsform fieldset,
form.edituserprefsform fieldset {border:none; padding:0; margin:0;}
div.ui-dialog-content fieldset dl,
form.editsettingsform fieldset dl,
form.edituserprefsform fieldset dl {margin:0;}
div.ui-dialog-content dt,
form.editsettingsform fieldset dt,
form.edituserprefsform fieldset dt {padding:0 0 2px 10px; background:url(images/ui-icons_222222_256x240.png) no-repeat -152px -2px; border-bottom:1px solid #000;}
div.ui-dialog-content dt label,
form.editsettingsform fieldset dt label,
form.edituserprefsform fieldset dt label {font-weight:bold;}
div.ui-dialog-content dd,
form.editsettingsform fieldset dd,
form.edituserprefsform fieldset dd {padding:5px 0 5px 0; margin:0 0 0 0;}
form.editsettingsform div.editSettingsButtons,
form.edituserprefsform div.editprefsButtons {padding:0 0 10px 5px;}
form.editsettingsform div.editSettingsButtons input,
form.edituserprefsform div.editprefsButtons input {float:left;}
form.editsettingsform div.editSettingsButtons div.clear,
form.edituserprefsform div.editprefsButtons div.clear {clear:both;}
form.edituserprefsform ul#sortablefilterlist {padding:0;}
form.edituserprefsform fieldset.uploadFilters .greyButton {margin:5px 5px 5px 0;}
form.edituserprefsform fieldset.manageFilters input {float:left; margin:0 20px 20px 0;}

form.editsettingsform div.newsservers fieldset.serverSettings,
form.edituserprefsform div fieldset fieldset.notificationSettings {background-color:#ededed; border:1px solid #aaaaaa; border-radius:4px; padding:5px; margin:5px 0 25px 0;}

form.newspotform  fieldset dt,
form.editspotform  fieldset dt {padding:0 0 0px 0px; background: none; border-bottom: none; }
form.editspotform div.editspotButtons input {float:left;}
form.editspotform div.red { color: red; }

form.editsettingsform span.loading {background:transparent url(../img/loading.gif) no-repeat 50% 50%; margin:4px; font-size: 16px; display: none;}
form.editsettingsform span.servertest_nntp_nzb_result_success { color: #00ab00; }
form.editsettingsform span.servertest_nntp_nzb_result_fail { color: #ff0000; }

/* SIDEBAR */
div#filter {width:235px; float:left; left:0; top:0; position:relative;}
body.fixed div#filter {position:fixed; top:25px;}

div.filter a.viewState:first-child h4 {-moz-border-radius:0; -webkit-border-radius:0; border-radius:0;}
div.sidebarPanel a.viewState h4,
div.filter a.viewState h4 {background:url(../img/sprite_x.png) repeat-x 0 -40px; color:#fff; font-size:11px; line-height:20px; text-align:center; margin:0 0 5px 0; position:relative; overflow:hidden; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; text-shadow:1px 1px #000;}
body.spotinfo div.sidebarPanel:not(.advancedSearch) h4:first-child,
body.spotinfo div.filter h4:first-child {-moz-border-radius:0 0 4px 0; -webkit-border-radius:0 0 4px 0; border-radius:0 0 4px 0;}

table.sabInfo td {padding:2px 10px 2px 5px;}
table.sabInfo td a {cursor:pointer; text-decoration:underline;}
table.sabInfo td strong.pause {color:#ff0000;}
table.sabInfo td.speedlimit input[name=speedLimit] {font:11px Arial, Helvetica, sans-serif; width:50px; margin:0 5px 0 0;}

table.sabQueue {margin:0 5px; width:225px;}
table.sabQueue td {padding:1px 0 1px 0;}
table.sabQueue tr.title td {padding-top:5px; position:relative;}
table.sabQueue tr.title td strong {float:left;}
table.sabQueue tr.title td span.title {position:absolute; width:178px; padding:0 0 0 5px; overflow:hidden; -moz-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; z-index:3;}
table.sabQueue tr.title td span.title:hover {background:#fff; width:auto; padding:0 2px 0 5px; overflow:visible;}
table.sabQueue tr.title td span.move {float:left; display:table; padding:0 4px 0 0;}
table.sabQueue tr.title td a.up {background:url(../img/sprite.png) no-repeat -81px -103px; width:7px; height:5px; display:block; cursor:pointer;}
table.sabQueue tr.title td a.down {background:url(../img/sprite.png) no-repeat -94px -102px; width:7px; height:5px; display:block; cursor:pointer;}
table.sabQueue tr.title td span.delete {float:left; padding:0 1px 0 0;}
table.sabQueue tr.title td span.delete a {background:url(../img/sprite.png) no-repeat -36px -129px; width:11px; height:13px; display:block; cursor:pointer;}
table.sabQueue tr.progressBar td {padding:0; background-color:#ececec; border:1px solid #D2D2D2;}
table.sabQueue div.progressBar {background:url(../img/sprite_x.png) repeat-x 0 -123px; height:4px; border:1px solid #00c01b; margin:-1px;}
table.sabQueue div.progressBar.empty {border:0; height:6px;}
table.sabQueue tr.nav td {padding:5px 0 0 0; text-align:center;}
table.sabQueue tr.nav td a {font-weight:bold; cursor:pointer;}

div.sabnzbdPanel canvas#graph {margin:5px 7px 0 7px;}

/* NOTIFICATIONS */
div.notifications {float:right; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; margin:2px 2px 5px 0; overflow:hidden; display:none; height:18px; background:url(../img/sprite_x.png) repeat-x 0 -105px; border:1px solid #b5b5b5;}
div.notifications p.multinzb {margin:0 0 0 3px; line-height:18px;}
div.notifications p.multinzb a.clear {float:left; display:block; width:20px; height:18px; line-height:18px; background:none; cursor:pointer; font-size:12px; color:#fff; font-weight:bold;}
div.notifications p.multinzb a.button {cursor:pointer; margin:0 5px 0 0; color:#fff;}

/* VOORKEUREN */
div.testNotification {border: 1px dotted #CCCCCC; padding: 5px; margin-bottom: 10px; line-height:20px;}

/* ZOEKEN */
a.viewState {cursor:pointer;}
h4 span.info,
a.viewState h4 span {position:absolute; display:block; top:3px; right:4px; width:17px; height:14px; line-height:normal; background:#333; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
h4 span.info {cursor:default; font-weight:normal;}
a.viewState h4 span.up {background:#333 url(../img/sprite.png) no-repeat 0 -80px;}
a.viewState h4 span.down {background:#333 url(../img/sprite.png) no-repeat -17px -80px;}

/* QUICKLINKS */
div.filter ul.quicklinks li {margin:0 0 2px 0;}
div.filter ul.quicklinks li a {}

/* FILTERS */
div.filter ul {margin:0 0 5px; padding:0 0 0 5px;}
div.filter ul ul {margin:0 0 0 10px; padding:0;}
div.filter li {list-style:none; margin:0 0 5px 0;}
div.filter li li {margin:2px 0 0;}
div.filter ul a {
	display:block; 
	width:100%;
	background-color:#ececec;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
}

div.filter > ul > li.spotcat0 a {background-color:#daecff;}
div.filter > ul > li.spotcat1 a {background-color:#fffad3;}
div.filter > ul > li.spotcat2 a {background-color:#cbffcb;}
div.filter > ul > li.spotcat3 a {background-color:#fedede;}

div.filter a span.newspots {color:#333; margin:0px 3px 0px 5px; padding:0 3px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
div.filter li a.selected span.newspots {background-color:#222; color:#fff;}

div.filter li span.toggle {display:block; float:right; width:15px; height:14px; margin:2px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background:url(../img/sprite.png) no-repeat -77px -98px;}
div.filter li.spotcat0 span.toggle {background-color:#62aefd; border:1px solid #006cab; color:#006cab;}
div.filter li.spotcat1 span.toggle {background-color:#f2d87c; border:1px solid #cd9f00; color:#cd9f00;}
div.filter li.spotcat2 span.toggle {background-color:#84f484; border:1px solid #00ab00; color:#00ab00;}
div.filter li.spotcat3 span.toggle {background-color:#f99797; border:1px solid #ab1c00; color:#ab1c00;}

div.filter li span.inclusive {display:block; float:right; width:15px; line-height:14px; margin:2px;}
div.filter li.spotcat0 span.inclusive {color:#62aefd;}
div.filter li.spotcat1 span.inclusive {color:#f2d87c;}
div.filter li.spotcat2  span.inclusive {color:#84f484;}
div.filter li.spotcat3 span.inclusive {color:#f99797;}

div.filter li span.newspots,
div.filter a.selected {background-color:#c8c8c8;}
div.filter a.external {background-color:#ececec;}
div.filter li.spotcat0 span.newspots {background-color:#a6d1ff; color:#00456c;}
div.filter > ul > li.spotcat0 a.selected {background-color:#a6d1ff;}
div.filter li.spotcat1 span.newspots {background-color:#f1d872; color:#875b00;}
div.filter > ul > li.spotcat1 a.selected {background-color:#f1d872;}
div.filter li.spotcat2 span.newspots {background-color:#8cef8c; color:#006f00;}
div.filter > ul > li.spotcat2 a.selected {background-color:#8cef8c;}
div.filter li.spotcat3 span.newspots {background-color:#fca9a9; color:#771400;}
div.filter > ul > li.spotcat3 a.selected {background-color:#fca9a9;}

div.filter > ul > li a:hover {background-color:#fff;}
div.filter > ul > li a:hover span.newspots {background-color:#fff; color:#000;}

div.filter a img {border:0; float:left; margin:2px 7px 2px 7px;}

/* MAINTENANCE */
ul.maintenancebox li.info {text-align:center; margin:5px 0; height:16px; line-height:16px;}

/* SPOTS */
div.spots {margin:0 0 0 235px; padding:23px 5px 5px 0; min-width:750px;}

table.spots {border-collapse:separate; border-spacing:0 2px; width:100%; margin:-2px 0 0 0;}
table.spots tr.head {position:absolute; top:0; left:235px; right:0; margin:25px 0 0 0; border-spacing:0; z-index:1;}
body.fixed table.spots tr.head {position:fixed;}

table.spots a {color:#000; text-decoration:none; display:block; width:100%; line-height:20px; cursor:pointer;}
table.spots img {border:0;}

table.spots th {text-align:left; color:#fff; background:url(../img/sprite_x.png) repeat-x 0 -40px; line-height:20px; height:20px; padding:0 0 0 5px; text-shadow:1px 1px #000;}
table.spots th a {color:#fff; display:inline;}
table.spots th.category {text-align:center; min-width:55px; width:55px; padding:0 2px 0 0;}
table.spots th.title {width:100%;}
table.spots td.watch,
table.spots th.watch {min-width:20px; width:20px;}
table.spots td.comments,
table.spots th.comments {text-align:center; width:34px; min-width:34px; padding:0;}
table.spots td.genre,
table.spots th.genre {min-width:120px; width:120px;}
table.spots td.poster,
table.spots th.poster {min-width:110px; width:110px; overflow:hidden;}
table.spots td.poster a {width:115px;}
table.spots td.date,
table.spots th.date {min-width:140px; width:140px;}
table.spots td.filesize,
table.spots th.filesize {min-width:84px; width:84px; }
table.spots td.filesize {text-align:left;}
table.spots td.nzb,
table.spots th.nzb {min-width:26px; width:26px;}
table.spots td.multinzb,
table.spots th.multinzb {min-width:22px; width:22px; padding:0;}
table.spots th.multinzb input {margin:0 0 0 4px; padding:0; display:block;}
table.spots td.sabnzbd,
table.spots th.sabnzbd {min-width:22px; width:22px; padding:0 0 0 3px;}
table.spots th.sabnzbd a {background:url(../img/sprite.png) no-repeat -70px -111px; display:block; width:16px; height:16px; margin:2px 0 2px 3px;}
table.spots th:last-child {padding-right:5px;}
table.spots th.sabnzbd {padding:0 5px 0 3px;}

table.spots th span.sortby {float:right; display:block; line-height:14px; height:14px; background-color:#333; margin:3px 3px 3px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
table.spots th span.sortby a {width:17px; height:14px; display:block; float:left;}
table.spots th span.sortby a.up {background:url(../img/sprite.png) no-repeat 0 -80px;}
table.spots th span.sortby a.down {background:url(../img/sprite.png) no-repeat -17px -80px;}

table.spots td {padding:0 0 0 5px;}
table.spots td:nth-child(2) {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.spots td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}

table.spots tr.noresults td {text-align:center; padding:5px 0;}

table.spots tr td.category {color:#fff; font-weight:bold; text-align:center; line-height:20px; width:50px; min-width:50px; padding:0 2px 0 5px; background:none !important; vertical-align:top;}
table.spots tr td.category a {color:#fff;}

table.spots tr td.new {font-weight:bold;}
table.spots tr td span.markSpot {float:right; display:block; background-color:#e33b1a; border:1px solid #ab1c00; color:#fff; padding:0 4px; margin:3px 0 0 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold; line-height:12px;}
table.spots tr td span.markGreen {float:right; display:block; background-color:#2bb31a; border:1px solid #1cab00; color:#fff; padding:0 4px; margin:3px 0 0 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold; line-height:12px;}
table.spots tr td span.rating {float:right; display:block; width:47px; height:18px; margin:1px 0 1px 5px; background:url(../img/sprite.png) no-repeat 0 -111px;}
table.spots tr td span.rating span {display:block; height:10px; margin:4px 0 0 3px; background:url(../img/sprite_x.png) repeat-x 0 -127px;}
table.spots tr td span.reportedSpam {display:block; float:right; width:25px; height:16px; background:url(../img/sprite.png) no-repeat 0 -143px; margin:2px 2px 0 5px; padding:0 0 0 18px;}
table.spots tr td span.reportedSpam span {display:block; line-height:16px; text-align:center; color:#a40000; font-weight:bold; font-size:11px;}
table.spots tr td span.reportedSpam.grey {background:url(../img/sprite.png) no-repeat -45px -163px;}
table.spots tr td span.reportedSpam.grey span {color:#585858;}
table.spots tr td span.reportedSpam.orange {background:url(../img/sprite.png) no-repeat 0 -159px;}
table.spots tr td span.reportedSpam.orange span {color:#9e7701;}
table.spots tr td span.reportedSpam.darkorange {background:url(../img/sprite.png) no-repeat -45px -147px;}
table.spots tr td span.reportedSpam.darkorange span {color:#9f4a00;}
table.spots tr td.watch a {display:block; cursor:pointer; background:url(../img/sprite.png) no-repeat -40px -80px; width:16px; height:16px;}
table.spots tr td.watch a.remove {background-position:-56px -80px;}

div.details table.spotheader th.sabnzbd a.sabnzbd-button,
table.spots tr td a.sabnzbd-button {display:block; width:20px; height:17px; cursor:pointer; margin:0 2px 1px 0; background:url(../img/sprite.png) no-repeat 0 -94px;}
div.details table.spotheader th.sabnzbd a.sabnzbd-button.loading,
table.spots tr td a.sabnzbd-button.loading {background:url(../img/loading.gif) no-repeat center center; margin:0 2px 1px 0;}
div.details table.spotheader th.sabnzbd a.sabnzbd-button.succes,
table.spots tr td a.sabnzbd-button.succes {background-position:-20px -94px;}
div.details table.spotheader th.sabnzbd a.sabnzbd-button.failure,
table.spots tr td a.sabnzbd-button.failure {background-position:0px -182px;}

div.details table.spotheader th.spamreport a.spamreport-button,
table.spots tr td a.spamreport-button {display:block; width:22px; height:18px; cursor:pointer; margin:0 0 1px 0; background:url(../img/sprite.png) no-repeat -54px -129px;}
div.details table.spotheader th.spamreport a.spamreport-button.loading,
table.spots tr td a.spamreport-button.loading {background:url(../img/loading.gif) no-repeat center center; margin:0 0 1px 0;}
div.details table.spotheader th.spamreport a.spamreport-button.success,
table.spots tr td a.spamreport-button.success {background:url(../img/sprite.png) no-repeat -76px -129px;}

table.spots tr.spotcat0 td {background-color:#daecff;}
table.spots tr.spotcat1 td {background-color:#fffad3;}
table.spots tr.spotcat2 td {background-color:#cbffcb;}
table.spots tr.spotcat3 td {background-color:#fedede;}

table.spots tr:hover td {background-color:#fff;}

table.spots tr.spotcat0 td.category a {background:url(../img/sprite.png) no-repeat 0 0;}
table.spots tr.spotcat1 td.category a {background:url(../img/sprite.png) no-repeat 0 -20px;}
table.spots tr.spotcat2 td.category a {background:url(../img/sprite.png) no-repeat 0 -40px;}
table.spots tr.spotcat3 td.category a {background:url(../img/sprite.png) no-repeat 0 -60px;}

table.spots tr:hover.spotcat0 td.category a {background-position:-52px 0; color:#008edf;}
table.spots tr:hover.spotcat1 td.category a {background-position:-52px -20px; color:#e9a213;}
table.spots tr:hover.spotcat2 td.category a {background-position:-52px -40px; color:#00de00;}
table.spots tr:hover.spotcat3 td.category a {background-position:-52px -60px; color:#de2500;}

table.spots tr.active td.title a.spotlink:before {content:"> "; display:block; float:left; font-weight:bold; line-height:14px; margin:2px 4px 0 -3px; padding:0 4px 0 4px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
table.spots tr.spotcat0.active td.title a.spotlink:before {background:#62aefd; border:1px solid #006cab; color:#006cab;}
table.spots tr.spotcat1.active td.title a.spotlink:before {background:#f2d87c; border:1px solid #cd9f00; color:#cd9f00;}
table.spots tr.spotcat2.active td.title a.spotlink:before {background:#84f484; border:1px solid #00ab00; color:#00ab00;}
table.spots tr.spotcat3.active td.title a.spotlink:before {background:#f99797; border:1px solid #ab1c00; color:#ab1c00;}

table.spots tr td.spamreports,
table.spots tr td.comments {text-align:center; padding:0; background-image:url(../img/sprite_y.png); background-repeat:repeat-y;}
table.spots tr td.spamreports a,
table.spots tr td.comments a {font-weight:bold; color:#fff;}
table.spots tr:hover td.spamreports a, 
table.spots tr:hover td.comments a {color:#000;}
table.spots tr:hover td.spamreports,
table.spots tr:hover td.comments {background-image:none !important;}
table.spots tr.spotcat0 td.spamreports,
table.spots tr.spotcat0 td.comments {background-position:0 0;}
table.spots tr.spotcat1 td.spamreports,
table.spots tr.spotcat1 td.comments {background-position:-34px 0;}
table.spots tr.spotcat2 td.spamreports,
table.spots tr.spotcat2 td.comments {background-position:-68px 0;}
table.spots tr.spotcat3 td.spamreports,
table.spots tr.spotcat3 td.comments {background-position:-102px 0;}

table.spots a.nzb {font-weight:bold;}
table.spots tr.spotcat0 a.nzb {color:#008edf;}
table.spots tr.spotcat1 a.nzb {color:#e9a213;}
table.spots tr.spotcat2 a.nzb {color:#00de00;}
table.spots tr.spotcat3 a.nzb {color:#de2500;}

table.footer {border-collapse:separate; border-spacing:0; margin:3px 0 5px 5px;}
table.footer tr td.prev,
table.footer tr td.next {background-color:#ececec; height:20px; font-weight:bold; min-width:30px; text-align:center; padding:0; -moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}
table.footer tr td a {display:block; color:#000; text-decoration:none; line-height:16px;}
table.footer tr td:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.footer tr td.button {background:url(../img/sprite_x.png) repeat-x 0 -60px; padding:0 3px 0 0; height:20px; width:100%;}

/* SPOT DETAILS */
div.details {font:11px Arial, Helvetica, sans-serif; padding:28px 0 5px 0; min-width:680px;}
div.details.external {padding-top:6px;}

div.details a.postimage {display:block; position:relative; cursor:pointer; float:left;}
div.details a.postimage img {display:block; border:0; margin:0; max-width:260px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.details a.postimage img.full {position:absolute; top:0; left:0; z-index:3;}

div.details table.spotdetails {margin:0 0 0 5px; border-collapse:collapse;}
div.details table.spotdetails td {padding:0; vertical-align:top;}
div.details table.spotdetails td.img {padding:2px 0 0 0;}
div.details table.spotdetails td.img a.loading {width:80px; background:url(../img/loading.gif) no-repeat 50% 100%; padding:2px 0 24px 0; text-decoration:none; text-align:center; color:#000;}
div.details table.spotdetails td.img a.loading:before {content: "Loading Image";}
div.details table.spotdetails td.info {width:100%;}

div.details div.warning {background-color:#e33b1a; border:1px solid #ab1c00; color:#fff; line-height:18px; padding:0; text-align:center; vertical-align:top; margin:2px 5px 3px 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold;}
div.details div.announce {background-color:#2bb31a; border:1px solid #1cab00; color:#fff; line-height:18px; padding:0; text-align:center; vertical-align:top; margin:2px 5px 3px 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold;}
body.fixed div#overlay table.spotheader {margin-left:235px; top:25px;}
div.details.external table.spotheader,
div.details.noscroll table.spotheader {margin:0 0 0 0;}
div.details table.spotheader {position:fixed; left:0; right:0; top:0; z-index:4; margin:0 16px 0 0; border-collapse:separate; border-spacing:5px 0; padding:5px 0; background:#fff;}
div.details table.spotheader th {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; text-align:left;}
div.details table.spotheader th.category {width:50px; min-width:50px; padding:0; text-align:center; vertical-align:top;}
div.details table.spotheader th.category span {display:block; color:#fff; line-height:20px;}

div.details.spotcat0 table.spotheader th.category span {background:url(../img/sprite.png) no-repeat 0 0;}
div.details.spotcat1 table.spotheader th.category span {background:url(../img/sprite.png) no-repeat 0 -20px;}
div.details.spotcat2 table.spotheader th.category span {background:url(../img/sprite.png) no-repeat 0 -40px;}
div.details.spotcat3 table.spotheader th.category span {background:url(../img/sprite.png) no-repeat 0 -60px;}

div.details.spotcat0 table.spotinfo th,
div.details.spotcat0 div.comments li {background-color:#daecff;}
div.details.spotcat1 table.spotinfo th,
div.details.spotcat1 div.comments li {background-color:#fffad3;}
div.details.spotcat2 table.spotinfo th,
div.details.spotcat3 div.comments li {background-color:#cbffcb;}
div.details.spotcat4 table.spotinfo th,
div.details.spotcat4 div.comments li {background-color:#fedede;}

div.details.spotcat0 div.comments li span.user {color:#008edf;}
div.details.spotcat1 div.comments li span.user {color:#e9a213;}
div.details.spotcat2 div.comments li span.user {color:#00de00;}
div.details.spotcat3 div.comments li span.user {color:#de2500;}

div.details table.spotheader th.title {width:100%; background:url(../img/sprite_x.png) repeat-x 0 -40px; color:#fff; padding:2px 5px; white-space:nowrap; text-shadow:1px 1px #000;}
div.details table.spotheader th.watch {width:16px; padding:0 0 1px 0;}
div.details table.spotheader th.watch a {display:block; cursor:pointer; background:url(../img/sprite.png) no-repeat -40px -80px; width:16px; height:16px;}
div.details table.spotheader th.watch a.remove {background-position:-56px -80px;}
div.details table.spotheader th.nzb {width:20px; min-width:20px; padding:0;}
div.details table.spotheader th.nzb a.nzb {display:block; width:16px; height:8px; margin:0 auto; background:url(../img/sprite.png) no-repeat -17px -129px; text-decoration:none; padding:0;}
div.details table.spotheader th.nzb a.nzb.downloaded {width:20px; background-position:-48px -113px;}
div.details table.spotheader th.rating span.rating {float:right; display:block; width:47px; height:18px; background:url(../img/sprite.png) no-repeat 0 -111px;}
div.details table.spotheader th.rating span.rating span {display:block; height:10px; margin:4px 0 0 3px; background:url(../img/sprite_x.png) repeat-x 0 -127px;}
div.details table.spotheader th.search {width:20px; min-width:20px; padding:0;}
div.details table.spotheader th.search a {display:inline-block; width:17px; height:12px; float:left; background:url(../img/sprite.png) no-repeat 0 -129px; border-right:1px solid #fff;}
div.details table.spotheader th.sabnzbd {width:20px; min-width:20px; padding:1px 0 0 0;}

div.details table.spotinfo {width:100%; border-collapse:separate; border-spacing:5px 2px;}
div.details table.spotinfo th,
div.details table.spotinfo td {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; height:16px; line-height:16px; padding:2px 5px;}
div.details table.spotinfo th {text-align:right; width:165px;}
div.details table.spotinfo td {background-color:#ececec;}
div.details table.spotinfo td.break {background-color:#fff;}
div.details table.spotinfo td.rating.stars {padding:1px 0 0 2px; line-height:12px;}
div.details table.spotinfo td.rating.stars span {cursor:default !important;}

div.details table.spotinfo a {color:#000; text-decoration:underline;}

div.details table.spotinfo a.delete {background:url(../img/sprite.png) no-repeat -36px -129px; text-decoration: none; width:11px; height:13px; display:inline; cursor:pointer;}
div.details table.spotinfo a.whitelist {background:url(../img/sprite.png) no-repeat -44px -129px; text-decoration: none; width:11px; height:13px; display:inline; cursor:pointer;}

div.details div.description {clear:both; padding:10px 5px 0 5px;}
div.details div.description pre {overflow:hidden; white-space:pre-wrap; margin:10px 10px 0;}

div.details div.comments {padding:10px 5px 0 5px;}
div.details div.comments h4,
div.details div.description h4 {background:url(../img/sprite_x.png) repeat-x 0 -40px; font-size:11px; line-height:20px; color:#fff; padding:0 5px; margin:0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; position:relative; overflow:hidden; text-shadow:1px 1px #000;}

div.details div.comments h4 span {position:absolute; top:3px; right:4px; display:block; line-height:14px; background-color:#333; margin:0; padding:0 5px; font-size:10px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

div.details div.comments ul {padding:0; margin:0;}
div.details div.comments li {margin:5px 0 0 0; padding:6px 10px; list-style:none; line-height:16px; min-height: 52px; }
div.details div.comments li.nocomments {text-align:center;}

div.details div.comments li.poster span.user {padding:2px 4px; margin:0 2px; color:#fff; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; text-shadow:1px 1px #000000;}
div.details div.comments li.poster span.user:after {content:' (afzender)'; font-size:10px;}
div.details div.comments li img.commentavatar {width:32px; height:32px; float:left; margin:4px 10px 0 0;}
div.details.spotcat0 div.comments li.poster span.user {background-color:#008edf;}
div.details.spotcat1 div.comments li.poster span.user {background-color:#e9a213;}
div.details.spotcat2 div.comments li.poster span.user {background-color:#00de00;}
div.details.spotcat3 div.comments li.poster span.user {background-color:#de2500;}
div.details div.comments li  a.delete {background:url(../img/sprite.png) no-repeat -36px -129px; text-decoration: none; width:11px; height:13px; display:inline; cursor:pointer;}
div.details div.comments li  a.whitelist {background:url(../img/sprite.png) no-repeat -44px -129px; text-decoration: none; width:11px; height:13px; display:inline; cursor:pointer;}

div.details div.comments blockquote {
	border: 1px solid #cecece;
}

div.details div.comments a.spotterid {color:#000;}

div.details.spotcat0 div.comments li.even {background-color:#e6f2ff;}
div.details.spotcat1 div.comments li.even {background-color:#fffce4;}
div.details.spotcat2 div.comments li.even {background-color:#eaffea;}
div.details.spotcat3 div.comments li.even {background-color:#ffeaea;}

div.details div.comments li.firstComment:last-child,
div.details div.comments li:last-child:first-child {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.details div.comments li.firstComment,
div.details div.comments li:first-child {-moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
div.details div.comments li:last-child {-moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
div.details div.comments li span.rating {float:right; display:block; width:47px; height:18px; margin:1px 0 1px 5px; background:url(../img/sprite.png) no-repeat 0 -111px;}
div.details div.comments li span.rating span {display:block; height:10px; margin:4px 0 0 3px; background:url(../img/sprite_x.png) repeat-x 0 -127px;}

div.details div.comments li.addComment {text-align:center; padding:0 0 2px 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color:#ececec; min-height: 0; }
div.details div.comments li.addComment a.togglePostComment {position:relative; display:block; cursor:pointer; font-weight:bold; line-height: 18px;}
div.details div.comments li.addComment a.togglePostComment span {display:block; position: absolute; top: 0; right: 0; width: 15px; height: 14px; background: url(../img/sprite.png) no-repeat -90px -98px; margin:3px 3px 0 0;}
div.details div.comments li.addComment a.togglePostComment span.up {background-position: -77px -98px; margin:2px 3px 0 0;}
div.details div.comments li.addComment div {display:none; background-color:#fff; margin:1px 3px 1px 3px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; position:relative;}
div.details div.comments li.addComment div div.loading {background:#fff url(../img/loading.gif) no-repeat 50% 50%; opacity:0.75; position:absolute; margin:0;}
div.details form.postcommentform fieldset {padding:0; margin:0; border:0;}
div.details form.postcommentform fieldset dl {margin:0;}
div.details form.postcommentform fieldset dd {margin:0;}
div.details form.postcommentform fieldset textarea {width:204px; font:11px Arial, Helvetica, sans-serif;}
div.details form.postcommentform input.greyButton {display:inline; margin: 2px 0 5px 0;}
div.details form.postcommentform dd.rating {margin:5px 0; height:16px;}
div.details table.spotinfo td.rating span,
div.details form.postcommentform dd.rating span {display:inline-block; width:16px; height:16px; background:url(../img/sprite.png) no-repeat -40px -80px; margin:0 1px 0 1px; cursor:pointer;}
div.details table.spotinfo td.rating span.active,
div.details form.postcommentform dd.rating span.active {background-position:-56px -80px;}

#postReportFormSubmitButton.loading {background:transparent url(../img/loading.gif) no-repeat 50% 50%; margin:4px; }

div.details table.spotinfo a.addspotterasfilter,
div.details table.spotinfo a.addtagasfilter {background:url(../img/sprite.png) no-repeat -88px -146px transparent; text-decoration: none; min-width: 16px;  }

/* VERSION CHECK */
div.versioncheck div.warning {background-color:#fffce4; border:1px solid #e9a213; color:#e9a213; line-height:18px; padding:0; text-align:center; vertical-align:top; margin:2px 5px 3px 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold;}
div.versioncheck ul {padding:0; margin:0;}
div.versioncheck li {margin:5px 0 0 0; padding:6px 10px; list-style:none; line-height:16px; min-height: 52px; }

div.versioncheck li span.user {color:#e9a213;}

div.versioncheck li {background-color:#fffad3;}
div.versioncheck li.even {background-color:#fffce4;}

div.versioncheck li:last-child,
div.versioncheck li:last-child:first-child {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.versioncheck li:first-child {-moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
div.versioncheck li:last-child {-moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}

/* STATISTIEKEN */
div.statistics {margin:0 0 0 235px; padding:10px 5px 5px 0; min-width:750px; text-align:center;}
div.statistics form select {background:url(../img/sprite_x.png) repeat-x 0 0; position:fixed; top:28px; right:3px; color:#000; border:none; -moz-border-radius:0 0 4px 0; -webkit-border-radius:0 0 4px 0; border-radius:0 0 4px 0; width:250px; height:20px; font:11px Arial, Helvetica, sans-serif; padding:2px 2px 2px 4px;}
div.statistics form select option {background-color:#ddd; border-top:1px solid #bbb;}
div.statistics form select option:checked {background:url(../img/sprite_x.png) repeat-x 0 -20px;}

/* WATCHLIST */
div.spots.watchlist table.footer td {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

/* OVERLAY */
div.details th.back {width:20px; padding:0;}
a.closeDetails {display:block; background:url(../img/sprite_x.png) repeat-x 0 -60px; width:25px; height:20px; line-height:20px; text-align:center; cursor:pointer; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

div#overlay {position:absolute; top:0; bottom:0; left:0; right:0; background-color:#fff; z-index:2; display:none; overflow:auto;}
body.fixed div#overlay {top:25px; left:235px;}
div#overlay.loading {position:fixed; background:#fff url(../img/loading.gif) no-repeat 50% 50%; opacity:0.75; filter:alpha(opacity = 75);}
body.fixed div#overlay.loading {top:45px;}
body.spotinfo.fixed div#overlay.loading {top:25px;}
div#overlay.loading.notrans {opacity:1; filter:alpha(opacity = 100);}

/* LOGIN/LOGOUT SYSTEM */
ul.userInfo {margin:0; padding:0 0 10px 0;}
ul.userInfo li {line-height:20px; list-style:none; padding:0 5px;}
ul.userInfo li.createUser {padding:0;}
div.userPanel a.greyButton {margin:5px 12px 10px 12px;}

div.userPanel span.info {display:block; text-align:center; margin:12px 0 0 0; line-height:16px;}
div.userPanel span.info img {display:block; margin:0 auto;}

ul.formerrors,
ul.forminformation {margin:0; padding:0; list-style:none;}
ul.formerrors li {padding:0 5px; line-height:20px; color:#ff0000;}
ul.forminformation li {padding:0 5px; line-height:20px; color:#00AB00;}
ul.formerrors li:first-child,
ul.forminformation li:first-child {padding-top:2px;}

div.userPanel form fieldset {padding:0 5px 0 5px; margin:0; border:0;}
div.userPanel form dl {margin:0;}
div.userPanel form dt {padding:3px 0 2px 0;}
div.userPanel form dd {margin:0;}

div.userPanel form input[type=password],
div.userPanel form input[type=text] {font:11px Arial, Helvetica, sans-serif; width:220px;}
div.userPanel form input.greyButton {margin:5px 7px 10px 7px;}
div.userpanel form input.withicon {width:200px;}

/* Dynatree - strong not selectbox */
span.strongnotnode-active a,
span.strongnotnode a { background-color: maroon !important; color: white !important; }
span.strongnotnode a:hover { background-color: white !important; color: maroon !important; }

div.newspotdiv div.loading,
div.editspotdiv div.loading {background:#fff url(../img/loading.gif) no-repeat 50% 50%; opacity:0.75; position:absolute; margin:0;}
div.newspotdiv form fieldset,
div.editspotdiv form fieldset {padding:0 5px 0 5px; margin:0; border:0;}
div.newspotdiv form dl,
div.editspotdiv form dl {margin:0;}
div.newspotdiv form dt,
div.editspotdiv form dt {padding:3px 0 2px 0; float: left; width: 80px; clear: left;}
div.newspotdiv form dd,
div.editspotdiv form dd {margin:0; float: left; margin-bottom: 6px; } 

div.newspotdiv form dt#txtsubcata,
div.editspotdiv form dt#txtsubcata  { width: auto; margin-right: 6px; }

div.newspotdiv form div.categorydropdown,
div.editspotdiv form div.categorydropdown,
div.newspotdiv form div.subcategorylistbox,
div.editspotdiv form div.subcategorylistbox { float: left; width: 200px; }
div.newspotdiv form div.subcategorylistbox select,
div.editspotdiv form div.subcategorylistbox select { width: 192px; }

/* jquery UI overrides to make it be more in we1rdo's template style */
.ui-widget .ui-widget,
.ui-widget input, 
.ui-widget select, 
.ui-widget { font-size: 11px; }

table.ui-widget,
table.ui-widget-content  {
	border-collapse: separate;
	border-spacing:0 0; 
	width:100%; 
	margin:-2px 0 0 0;
	border: 1px solid black;
}

table.ui-widget tr,
table.ui-widget-content  tr {
	line-height: 20px;
} 

tr.ui-widget-header {
	text-align:left; 
	color:#fff; 
	background:url(../img/sprite_x.png) repeat-x 0 -40px; 
	border: none;
	line-height:20px; 
	height:20px; 
	padding:0 0 0 5px; 
	text-shadow:1px 1px #000;
	border-spacing: 0;	
}

   
tr.ui-widget-header a {
	color:#fff; 
	display:inline;
}
