/* GENERAL */
div.container {
	font:11px Arial, Helvetica, sans-serif;
}

div.clear {
	clear:both;
}

/* ZOEKEN */
form#filterform table {border-collapse:separate; border-spacing:0 4px;}
form#filterform table tbody > tr:nth-child(1) td {width:33%; text-align:center; padding-bottom:8px;}
form#filterform table tbody > tr:nth-child(1) td input {position:relative; top:2px; margin:0 6px 0 0;}
form#filterform td {padding:0;}

input.searchbox {
	background-color:#f7f7f7;
	border:1px solid #d4d4d4;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width:260px;
	font:12px Arial, Helvetica, sans-serif;
	height:16px;
	padding:1px 4px 1px 4px;
}

input.filtersubmit {
	background:url(img/button.png) no-repeat left top;
	border:0;
	width:250px;
	padding:0 0 2px 0;
	margin:0 10px 20px 10px;
	height:20px;
	color:#fff;
	font-weight:bold;
	font:11px Arial, Helvetica, sans-serif;
	cursor:pointer;
}

/* FILTERS */
div.filter {
	width:270px;
	float:left;
	padding-top:2px;
	/* position:fixed; -- small screen won't be able to scroll vertically in the sidebar, with position:fixed; enabled */
}

div.filter h4 {
	background-color:#777777;
	color:#fff;
	font-size:11px;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	margin:0 0 5px 0;
}

div.filter ul {margin:0; padding:0;}
div.filter ul ul {margin:0 0 0 10px;}
div.filter li {list-style:none; margin:0 0 5px 0;}
div.filter li li {margin:2px 0 0;}

div.filter a {
	display:block;
	width:100%;
	background-color:#f7f7f7;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
}

div.filter > ul > li:nth-child(2) a {background-color:#e6f2ff;}
div.filter > ul > li:nth-child(3) a {background-color:#fbf8e0;}
div.filter > ul > li:nth-child(4) a {background-color:#eaffea;}
div.filter > ul > li:nth-child(5) a {background-color:#ffeaea;}

div.filter a img {
	border:0;
	float:left;
	margin:2px 7px 2px 7px;
}

/* SPOTS */
div.spots {
	margin:0 0 0 280px;
	min-width:750px;
}

table.spots {
	border-collapse:separate;
	border-spacing:0 2px;
	width:100%;
}

table.spots a {color:#000; text-decoration:none; display:block; width:100%;}

table.spots th,
table.spots th a {
	text-align:left;
	color:#fff;
	background-color:#777777;
	line-height:20px;
	padding:0 0 0 5px;
}

table.spots th.category {text-align:center; width:50px; padding:0 2px 0 0;}
table.spots th.title {}
table.spots th.genre {width:110px;}
table.spots th.poster {width:150px;}
table.spots th.date {width:140px;}
table.spots th.nzb {width:28px;}

table.spots td {padding:0 0 0 5px;}

table.spots td:nth-child(2),
table.spots th:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.spots th:last-child,
table.spots td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}

table.spots tr td.category {
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:20px;
	padding:0 2px 0 0;
	background-color:#fff;
}

table.spots tr.blue td {background-color:#e6f2ff;}
table.spots tr.orange td {background-color:#fbf8e0;}
table.spots tr.green td {background-color:#eaffea;}
table.spots tr.red td {background-color:#ffeaea;}

table.spots tr.blue td.category {background:url(img/blue.png) no-repeat left top;}
table.spots tr.orange td.category {background:url(img/orange.png) no-repeat left top;}
table.spots tr.green td.category {background:url(img/green.png) no-repeat left top;}
table.spots tr.red td.category {background:url(img/red.png) no-repeat left top;}

table.spots a.nzb {font-weight:bold;}
table.spots tr.blue a.nzb {color:#008edf;}
table.spots tr.orange a.nzb {color:#e9a213;}
table.spots tr.green a.nzb {color:#00de00;}
table.spots tr.red a.nzb {color:#de2500;}

table.spots tr:last-child td {background-color:#f7f7f7; height:20px; font-weight:bold;}
table.spots tr:last-child td a {display:inline;}
table.spots tr:last-child td:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.spots tr:last-child td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; padding:0 5px 0 0;}
