/* GENERAL */
div.container {
	font:11px Arial, Helvetica, sans-serif;
}

div.clear {
	clear:both;
}

/* ZOEKEN */
div.filter h4.search {margin:0 0 5px 0;}

div.filter h4 span.viewState {position:absolute; right:1px; display:block; height:14px; margin:3px 3px 3px 0; padding:0 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.filter h4 span.viewState a {display:inline; line-height:normal; background:none; cursor:pointer;}
div.filter h4 span.viewState img {margin:0; float:none;}

div.filter h4 div {position:absolute; overflow:hidden; display:block; float:left; left:1px; height:20px; margin:0; padding:0;}
div.filter h4 div input[type=checkbox] {opacity:0; position:absolute; left:1px; margin:0; width:100%; height:20px; float:left; cursor:pointer;}
div.filter h4 div input[type=checkbox]+label {color:#777; line-height:20px;}
div.filter h4 div input[type=checkbox]:checked + label {color:#bbb;}

form#filterform table {border-collapse:separate; border-spacing:0 5px; display:block; margin:-5px 0 0 0;}
form#filterform td {padding:0;}
form#filterform tr:first-child td {padding:0; position:relative; width:25%; overflow:hidden; display:block; float:left;}
form#filterform tr.short td {width:33%;}

form#filterform tr:nth-child(1) td:first-child label {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
form#filterform tr:nth-child(1) td:last-child label {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}

form#filterform tr:nth-child(1) td > input[type=radio] {opacity:0; position:absolute; margin:0; width:100%; height:20px; float:left; cursor:pointer;}
form#filterform tr:nth-child(1) td > input[type=radio]+label {background:url(img/input.png) repeat-x top left; width:100%; color:#000; line-height:20px; display:block; text-align:center;}
form#filterform tr:nth-child(1) td > input[type=radio]:checked + label {background:url(img/input_checked.png) repeat-x top left; color:#fff;}

form#filterform tr.unfiltered td:nth-child(1) {position:relative; overflow:hidden; display:block; float:left; width:100%;}
form#filterform tr.unfiltered td:nth-child(1) label {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
form#filterform tr.unfiltered td:nth-child(1) input[type=checkbox] {opacity:0; position:absolute; margin:0; width:100%; height:20px; float:left; cursor:pointer;}
form#filterform tr.unfiltered td:nth-child(1) input[type=checkbox]+label {background:url(img/input.png) repeat-x top left; width:100%; color:#000; line-height:20px; display:block; text-align:center;}
form#filterform tr.unfiltered td:nth-child(1) input[type=checkbox]:checked + label {background:url(img/input_checked.png) repeat-x top left; color:#fff;}

input.searchbox {
	background-color:#ececec;
	border:1px solid #d4d4d4;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width:220px;
	font:11px Arial, Helvetica, sans-serif;
	height:16px;
	padding:1px 4px 1px 4px;
}

input.filtersubmit {
	background:url(img/button.png) no-repeat left top;
	border:0;
	width:210px;
	padding:0 0 2px 0;
	margin:0 10px 10px 10px;
	height:20px;
	color:#fff;
	font:11px Arial, Helvetica, sans-serif;
	cursor:pointer;
	font-weight:bold;
	display:block;
}

/* DYNATREE */
div.filter ul.dynatree-container {min-height:68px; border:0; margin:0 0 5px; padding:3px; background-color:#ececec; border:1px solid #d4d4d4; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.filter ul.dynatree-container li {margin:0;}
div.filter ul.dynatree-container a {display:inline-block; font:11px Arial, Helvetica, sans-serif normal; background:none; line-height:16px; width:auto; border:0;}

/* FILTERS */
div.filter {
	width:230px;
	float:left;
	padding-top:2px;
}

div.filter h4 {
	background:url(img/header_bg.png) repeat-x top left;
	color:#fff;
	font-size:11px;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	margin:0 0 5px 0;
	position:relative;
}

div.filter ul {margin:0 0 5px; padding:0;}
div.filter ul ul {margin:0 0 0 10px;}
div.filter li {list-style:none; margin:0 0 5px 0;}
div.filter li li {margin:2px 0 0;}

div.filter a {
	display:block;
	width:100%;
	background-color:#ececec;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
}

div.filter > ul > li.blue a {background-color:#daecff;}
div.filter > ul > li.orange a {background-color:#fffad3;}
div.filter > ul > li.green a {background-color:#cbffcb;}
div.filter > ul > li.red a {background-color:#fedede;}

div.filter > ul > li a:hover {background-color:#fff;}

div.filter a img {
	border:0;
	float:left;
	margin:2px 7px 2px 7px;
}

/* MAINTENANCE */
ul.maintenancebox li.info {text-align:center; margin:10px 0; height:16px; line-height:16px;}
ul.maintenancebox li a.maintenancebtn {
	background:url(img/button.png) no-repeat left top;
	width:210px;
	margin:0 10px 5px 10px;
	line-height:20px;
	color:#fff;
	font-weight:bold;
	text-align:center;
}

/* SPOTS */
div.spots {
	margin:0 0 0 240px;
	min-width:750px;
}

table.spots {
	border-collapse:separate;
	border-spacing:0 2px;
	width:100%;
}

table.spots a {color:#000; text-decoration:none; display:block; width:100%;}
table.spots img {border:0;}

table.spots th {
	text-align:left;
	color:#fff;
	background:url(img/header_bg.png) repeat-x top left;
	line-height:20px;
	padding:0 0 0 5px;
}
table.spots th a {color:#fff; display:inline;}
table.spots th.category {text-align:center; min-width:50px; width:50px; padding:0 2px 0 0;}
table.spots th.watch {width:20px;}
table.spots th.comments {text-align:center; width:34px; min-width:34px; padding:0;}
table.spots th.genre {min-width:90px; width:120px;}
table.spots th.poster {width:110px;}
table.spots th.date {min-width:90px; width:140px;}
table.spots th.nzb {width:30px;}
table.spots th.multinzb {width:20px;}
table.spots th.multinzb input {margin:2px 0 3px 4px; padding:0; display:block;}
table.spots th.sabnzbd {min-width:28px; width:28px;}

table.spots th span.sortby {float:right; display:block; line-height:14px; height:14px; background-color:#111; margin:3px 3px 3px 0; padding:0 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

table.spots td {padding:0 0 0 5px;}

table.spots td:nth-child(2),
table.spots th:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.spots th:last-child,
table.spots td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}

table.spots tr td.category {
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:20px;
	padding:0 2px 0 0;
	background-color:#fff;
	vertical-align:top;
}
table.spots tr td.category a {color:#fff;}

table.spots tr td.new {font-weight:bold;}
table.spots tr td span.markSpot {float:right; display:block; background-color:#e33b1a; border:1px solid #ab1c00; color:#fff; padding:0 4px; margin:0 3px 0 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold; line-height:12px;}
table.spots tr td.watch a {cursor:pointer;}
table.spots tr td.watch a img {display:block;}

table.spots tr td img.sabnzbd-button {display:block; margin:0 0 1px 1px;}
table.spots tr td img.sabnzbd-button.loading {margin:0 0 0 3px;}

table.spots tr.blue td {background-color:#daecff;}
table.spots tr.orange td {background-color:#fffad3;}
table.spots tr.green td {background-color:#cbffcb;}
table.spots tr.red td {background-color:#fedede;}

table.spots tr:hover td {background-color:#fff;}

table.spots tr.blue td.category {background:url(img/blue.png) no-repeat left top;}
table.spots tr.orange td.category {background:url(img/orange.png) no-repeat left top;}
table.spots tr.green td.category {background:url(img/green.png) no-repeat left top;}
table.spots tr.red td.category {background:url(img/red.png) no-repeat left top;}

table.spots tr td.comments {text-align:center; padding:0;}
table.spots tr td.comments a {font-weight:bold; color:#fff;}
table.spots tr:hover td.comments a {color:#000;}
table.spots tr:hover td.comments {background-image:none !important;}
table.spots tr.blue td.comments {background-image:url(img/inline_blue.png);}
table.spots tr.orange td.comments {background-image:url(img/inline_orange.png);}
table.spots tr.green td.comments {background-image:url(img/inline_green.png);}
table.spots tr.red td.comments {background-image:url(img/inline_red.png);}

table.spots a.nzb {font-weight:bold;}
table.spots tr.blue a.nzb {color:#008edf;}
table.spots tr.orange a.nzb {color:#e9a213;}
table.spots tr.green a.nzb {color:#00de00;}
table.spots tr.red a.nzb {color:#de2500;}

table.footer {width:100%; border-collapse:separate; border-spacing:0;}
table.footer tr td.prev,
table.footer tr td.next {background-color:#ececec; height:20px; font-weight:bold; width:30px; text-align:center; padding:0;}
table.footer tr td a {display:block; color:#000; text-decoration:none; line-height:16px;}

table.footer tr td:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.footer tr td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}
table.footer tr td:first-child:last-child {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

table.footer tr td.button {background:url(img/footer_bg.png) repeat-x top left; padding:0 3px 0 0; height:20px;}
table.footer tr td.button:last-child {padding:0 33px 0 0;}
table.footer tr td.button input#multisubmit {background:url(img/download_dark.png) no-repeat right center; display:block; width:20px; height:20px; color:#fff; text-align:center; font:11px Arial, Helvetica, sans-serif; font-weight:bold; border:0; cursor:pointer; float:right; padding:0;}

/* SPOT DETAILS */
div.details {font:11px Arial, Helvetica, sans-serif; padding:7px 10px 10px; min-width:680px;}

div.details a.postimage img {display:block; max-width:300px; border:0; float:left; margin:3px 0 0;}

div.details div.spotinfo {margin:0 -5px 0 305px;}

div.details div.warning {background-color:#e33b1a; border:1px solid #ab1c00; color:#fff; line-height:18px; padding:0; text-align:center; vertical-align:top; margin:0 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold;}
div.details table.spotheader {width:100%; border-collapse:separate; border-spacing:5px 3px;}
div.details table.spotheader th {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; text-align:left;}
div.details table.spotheader th.category {width:50px; color:#fff; line-height:20px; padding:0; text-align:center; vertical-align:top;}

div.details.blue table.spotheader th.category {background:url(img/blue.png) no-repeat top left;}
div.details.orange table.spotheader th.category {background:url(img/orange.png) no-repeat top left;}
div.details.green table.spotheader th.category {background:url(img/green.png) no-repeat top left;}
div.details.red table.spotheader th.category {background:url(img/red.png) no-repeat top left;}

div.details.blue table.spotinfo th,
div.details.blue table.spotheader th.nzb,
div.details.blue div.comments li.odd {background-color:#daecff;}
div.details.orange table.spotinfo th,
div.details.orange table.spotheader th.nzb,
div.details.orange div.comments li.odd {background-color:#fffad3;}
div.details.green table.spotinfo th,
div.details.green table.spotheader th.nzb,
div.details.green div.comments li.odd {background-color:#cbffcb;}
div.details.red table.spotinfo th,
div.details.red table.spotheader th.nzb,
div.details.red div.comments li.odd {background-color:#fedede;}

div.details.blue div.comments li span.user,
div.details.blue table.spotheader th.nzb a.nzb {color:#008edf;}
div.details.orange div.comments li span.user,
div.details.orange table.spotheader th.nzb a.nzb {color:#e9a213;}
div.details.green div.comments li span.user,
div.details.green table.spotheader th.nzb a.nzb {color:#00de00;}
div.details.red div.comments li span.user,
div.details.red table.spotheader th.nzb a.nzb {color:#de2500;}

div.details table.spotheader th.title {background:url(img/header_bg.png) repeat-x top left; color:#fff; padding:2px 5px;}
div.details table.spotheader th.watch {width:16px; padding:0 0 1px 0;}
div.details table.spotheader th.watch a {cursor:pointer;}
div.details table.spotheader th.watch img {display:block;}
div.details table.spotheader th.nzb {width:115px; text-align:center; padding:0; color:#fff;}
div.details table.spotheader th.nzb a.search {display:inline-block; color:#000; text-decoration:none; width:45%;}
div.details table.spotheader th.nzb a.nzb {display:inline-block; text-decoration:none; width:45%;}
div.details table.spotheader th.sabnzbd {width:16px; padding:0;}
div.details table.spotheader th.sabnzbd a img {border:0; display:block; margin:0 0 1px 0;}
div.details table.spotheader th.sabnzbd a img.loading {margin:0 2px 0 2px;}

div.details table.spotinfo {width:100%; border-collapse:separate; border-spacing:5px 2px;}
div.details table.spotinfo th,
div.details table.spotinfo td {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; height:20px; padding:2px 5px;}
div.details table.spotinfo th {text-align:right; width:165px;}
div.details table.spotinfo td {background-color:#ececec;}
div.details table.spotinfo td.break {background-color:#fff;}

div.details table.spotinfo a {color:#000; text-decoration:underline;}

div.details div.description {clear:both; padding:10px 0 0;}
div.details div.description pre {white-space:pre-line; margin:10px 0 0;}

div.details div.comments {padding:10px 0 0;}
div.details div.comments h4,
div.details div.description h4 {background:url(img/header_bg.png) repeat-x top left; font-size:11px; line-height:20px; color:#fff; padding:0 5px; margin:0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

div.details div.comments h4 span {float:right; display:block; line-height:14px; background-color:#111; margin:3px 0; padding:0 5px; font-size:10px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

div.details div.comments ul {padding:0; margin:0;}
div.details div.comments li {margin:5px 0 0 0; padding:6px 10px; list-style:none; line-height:16px;}

div.details div.comments a.userid {color:#000;}

div.details.blue div.comments li.even {background-color:#e6f2ff;}
div.details.orange div.comments li.even {background-color:#fffce4;}
div.details.green div.comments li.even {background-color:#eaffea;}
div.details.red div.comments li.even {background-color:#ffeaea;}

div.details div.comments li:last-child:first-child {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.details div.comments li:first-child {-moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
div.details div.comments li:last-child {-moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}

/* WATCHLIST */
div.spots.watchlist table.footer td {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}