/* GENERAL */
div.container {
	font:11px Arial, Helvetica, sans-serif;
}

div.clear {
	clear:both;
}

/* ZOEKEN */
form#filterform table {border-collapse:separate; border-spacing:0 4px;}
form#filterform table tbody > tr:nth-child(1) td {width:33%; text-align:center; padding-bottom:8px;}
form#filterform table tbody > tr:nth-child(1) td input {position:relative; top:2px; margin:0 6px 0 0;}
form#filterform td {padding:0;}

input.searchbox {
	background-color:#ececec;
	border:1px solid #d4d4d4;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width:260px;
	font:12px Arial, Helvetica, sans-serif;
	height:16px;
	padding:1px 4px 1px 4px;
}

input.filtersubmit {
	background:url(img/button.png) no-repeat left top;
	border:0;
	width:250px;
	padding:0 0 2px 0;
	margin:0 10px 20px 10px;
	height:20px;
	color:#fff;
	font:11px Arial, Helvetica, sans-serif;
	cursor:pointer;
	font-weight:bold;
}

/* FILTERS */
div.filter {
	width:270px;
	float:left;
	padding-top:2px;
	/* position:fixed; -- small screen won't be able to scroll vertically in the sidebar, with position:fixed; enabled */
}

div.filter h4 {
	background-color:#777777;
	color:#fff;
	font-size:11px;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-align:center;
	margin:0 0 5px 0;
}

div.filter ul {margin:0 0 20px; padding:0;}
div.filter ul ul {margin:0 0 0 10px;}
div.filter li {list-style:none; margin:0 0 5px 0;}
div.filter li li {margin:2px 0 0;}

div.filter a {
	display:block;
	width:100%;
	background-color:#ececec;
	line-height:20px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
}

div.filter > ul > li:nth-child(2) a {background-color:#daecff;}
div.filter > ul > li:nth-child(3) a {background-color:#fffad3;}
div.filter > ul > li:nth-child(4) a {background-color:#cbffcb;}
div.filter > ul > li:nth-child(5) a {background-color:#fedede;}

div.filter a img {
	border:0;
	float:left;
	margin:2px 7px 2px 7px;
}

/* MAINTENANCE */
ul.maintenancebox li.info {text-align:center; margin:10px 0;}
ul.maintenancebox li a.updatespotsbtn,
ul.maintenancebox li a.erasedlsbtn {
	background:url(img/button.png) no-repeat left top;
	width:250px;
	margin:0 10px 5px 10px;
	line-height:20px;
	color:#fff;
	font-weight:bold;
	text-align:center;
}

/* SPOTS */
div.spots {
	margin:0 0 0 280px;
	min-width:750px;
}

table.spots {
	border-collapse:separate;
	border-spacing:0 2px;
	width:100%;
}

table.spots a {color:#000; text-decoration:none; display:block; width:100%;}
table.spots img { border: 0; }

table.spots th {
	text-align:left;
	color:#fff;
	background-color:#777777;
	line-height:20px;
	padding:0 0 0 5px;
}
table.spots th a {color:#fff;}

table.spots th.category {text-align:center; width:50px; padding:0 2px 0 0;}
table.spots th.title {}
table.spots th.genre {width:110px;}
table.spots th.poster {width:150px;}
table.spots th.date {width:140px;}
table.spots th.nzb {width:30px;}
table.spots th.sabnzbd {width:28px;}

table.spots td {padding:0 0 0 5px;}

table.spots td:nth-child(2),
table.spots th:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.spots th:last-child,
table.spots td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0;}

table.spots tr td.category {
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:20px;
	padding:0 2px 0 0;
	background-color:#fff;
	vertical-align:top;
}

table.spots tr td img.sabnzbd-button {margin:0 4px;}

table.spots tr.blue td {background-color:#daecff;}
table.spots tr.orange td {background-color:#fffad3;}
table.spots tr.green td {background-color:#cbffcb;}
table.spots tr.red td {background-color:#fedede;}

table.spots tr:hover td {background-color:#fff;}

table.spots tr.blue td.category {background:url(img/blue.png) no-repeat left top;}
table.spots tr.orange td.category {background:url(img/orange.png) no-repeat left top;}
table.spots tr.green td.category {background:url(img/green.png) no-repeat left top;}
table.spots tr.red td.category {background:url(img/red.png) no-repeat left top;}

table.spots a.nzb {font-weight:bold;}
table.spots tr.blue a.nzb {color:#008edf;}
table.spots tr.orange a.nzb {color:#e9a213;}
table.spots tr.green a.nzb {color:#00de00;}
table.spots tr.red a.nzb {color:#de2500;}

table.spots tr:last-child td {background-color:#ececec; height:20px; font-weight:bold;}
table.spots tr:last-child td a {display:inline;}
table.spots tr:last-child td:first-child {-moz-border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px;}
table.spots tr:last-child td:last-child {-moz-border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; border-radius:0 4px 4px 0; padding:0 5px 0 0;}

/* SPOT DETAILS */
div.details {font:11px Arial, Helvetica, sans-serif; padding:7px 10px 10px; min-width:500px;}

div.details a.postimage img {display:block; max-width:300px; border:0; float:left; margin:3px 0 0;}

div.details div.spotinfo {margin:0 -5px 0 305px;}

div.details div.warning {background-color:#e33b1a; border:1px solid #ab1c00; color:#fff; line-height:18px; padding:0; text-align:center; vertical-align:top; margin:0 5px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-weight:bold;}
div.details table.spotheader {width:100%; border-collapse:separate; border-spacing:5px 3px;}
div.details table.spotheader th {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; text-align:left;}
div.details table.spotheader th.category {width:50px; color:#fff; line-height:20px; padding:0; text-align:center; vertical-align:top;}

div.details.blue table.spotheader th.category {background:url(img/blue.png) no-repeat top left;}
div.details.orange table.spotheader th.category {background:url(img/orange.png) no-repeat top left;}
div.details.green table.spotheader th.category {background:url(img/green.png) no-repeat top left;}
div.details.red table.spotheader th.category {background:url(img/red.png) no-repeat top left;}

div.details.blue table.spotinfo th,
div.details.blue table.spotheader th.nzb,
div.details.blue div.comments li.odd {background-color:#daecff;}
div.details.orange table.spotinfo th,
div.details.orange table.spotheader th.nzb,
div.details.orange div.comments li.odd {background-color:#fffad3;}
div.details.green table.spotinfo th,
div.details.green table.spotheader th.nzb,
div.details.green div.comments li.odd {background-color:#cbffcb;}
div.details.red table.spotinfo th,
div.details.red table.spotheader th.nzb,
div.details.red div.comments li.odd {background-color:#fedede;}

div.details.blue div.comments li span.user,
div.details.blue table.spotheader th.nzb a.nzb {color:#008edf;}
div.details.orange div.comments li span.user,
div.details.orange table.spotheader th.nzb a.nzb {color:#e9a213;}
div.details.green div.comments li span.user,
div.details.green table.spotheader th.nzb a.nzb {color:#00de00;}
div.details.red div.comments li span.user,
div.details.red table.spotheader th.nzb a.nzb {color:#de2500;}

div.details table.spotheader th.title {background-color:#777777; color:#fff; padding:2px 5px;}
div.details table.spotheader th.nzb {width:115px; text-align:center; padding:0; color:#fff;}
div.details table.spotheader th.nzb a.search {display:inline-block; color:#000; text-decoration:none; width:45%;}
div.details table.spotheader th.nzb a.nzb {display:inline-block; text-decoration:none; width:45%;}
div.details table.spotheader th.sabnzbd {width:16px; padding:0;}
div.details table.spotheader th.sabnzbd a img {border:0;}

div.details table.spotinfo {width:100%; border-collapse:separate; border-spacing:5px 2px;}
div.details table.spotinfo th,
div.details table.spotinfo td {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; height:20px; padding:2px 5px;}
div.details table.spotinfo th {text-align:right; width:165px;}
div.details table.spotinfo td {background-color:#ececec;}
div.details table.spotinfo td.break {background-color:#fff;}

div.details table.spotinfo a {color:#000; text-decoration:underline;}

div.details div.description {clear:both; padding:10px 0 0;}
div.details div.description pre {white-space:pre-line;}

div.details div.comments h4,
div.details div.description h4 {background:#777; font-size:11px; line-height:20px; color:#fff; padding:0 5px; margin:0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

div.details div.comments ul {padding:0; margin:0;}
div.details div.comments li {margin:5px 0 0 0; padding:6px 10px; list-style:none; line-height:16px;}

div.details.blue div.comments li.even {background-color:#e6f2ff;}
div.details.orange div.comments li.even {background-color:#fffce4;}
div.details.green div.comments li.even {background-color:#eaffea;}
div.details.red div.comments li.even {background-color:#ffeaea;}

div.details div.comments li:last-child:first-child {-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
div.details div.comments li:first-child {-moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
div.details div.comments li:last-child {-moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}

/* DYNATREE OVERRIDES */
div.filter ul.dynatree-container {border:0;}
div.filter ul.dynatree-container a {display:inline; font-weight:normal;}
div.advancedsearch {display:none;}